fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
python-dotenv

pypdf
langchain
langchain-community
langchain-core
langchain-openai
langchain-chroma
chromadb

sentence-transformers
openai

streamlit
requests